.card {
  width: 100%;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  cursor: pointer;
  margin: 10px;
  max-width: 200px!important;
  max-height: 340px!important;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.container {
  max-width: 100%;
  margin-top: 5%;
  margin-left: 3.5%;
}

.product-item {
  width: 20rem;
}

.product-price span{
  float: right;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

img{
  max-height: 235;
}

.item{
  text-align: center;
}

.product-pagination{
  display: inline-block;
}

.product-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  color: #42C5BD;
  border-color: black;
}