{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'tshirts/index.css' %}">
  </head>
<body>
  <section class="list-tshirts">
    <div class="container">
      <div class="w3-row">
        <div class="col-lg-8">
          <div class="row">
          {% for tshirt in tshirts %}
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="product-item">
              <div class="card">
                <img class="card-img-top" src="{{ tshirt.photo_url|default_if_none:'#'}}" alt="Card image cap">
                <div class="product-info">
                  <div class="product-name item">
                    
                      {{ tshirt.name }}
                    
                  </div>
                  <div class="product-price item">
                    
                      R$ {{ tshirt.price }}
                    
                  </div>
                </div>
              </div>
              </div>
            </div>
          {% endfor%}
          </div>
          <div class="row justify-content-md-center">
            <div class="col col-lg-12">
              <div class="product-pagination">
              <a href="#" style="color: #42C5BD;">&laquo;</a>
              {% for page_number in page_obj.paginator.page_range %}
                <a
                  href="{% url 'tshirts' page_number %}"
                  class="{% if page_number == page_obj.number %}current{% endif %}"
                >
                  ■
                </a>
              {% endfor %}
              <a href="#" style="color: #42C5BD;">&raquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>